{% extends "base.html" %}

{% block content %}
  <h1>Проект ACME</h1>
  <br>
  <middle>
    <p>Страница для создания, хранения, редактирования и удаления записей дней рождения</p>
    <p>Также к каждой анкете привязан счётчик дней до дня рождения</p>
  <middle>
  <div class="row">
  <!-- Добавим колонку "col-3" -->
  <div class="col-3">
    Количество записей о днях рождения<br />в нашем проекте:
  </div>
  <div class="col-9">
    <!-- Добавим колонку "col-9" и выведем значение переменной total_count.
          С помощью стиля Bootstrap отобразим его очень крупным шрифтом  -->
    <div class="display-1">{{ total_count }}</div>
  </div>
  </div>
{% endblock %}
